<%- include('../partials/header'); %>
<div class="container-fluid vh-100 pt-5 pb-5 justify-content-center" id="error">
  <img src="images/error.gif" class="rounded mx-auto d-block" id="error_img"/>
  <h1>Error</h1>
</div>
<%- include('../partials/footer'); %>
