<%- include('../partials/header'); %>
<!-- Put all the content in a container -->
    <div class="container-fluid vh-100 position-absolute top-50 start-50 translate-middle " id="landing">
      <%- include('../partials/nowPlayingForm.ejs'); %>
  </div>
<%- include('../partials/footer'); %>
