
<div class="card text-center">
    <div class="card-body">
    <h1 class="card-title">BitCoin Price App</h1>
    <%- include('../partials/radio') %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Price</a>
    </p>
    <h2> This is the current price: </h2>
    <h3></h3>
  </div>