<form class="position-absolute top-50 start-50 translate-middle"action="/getresults" method="GET">
    <h1>Click to show movies that are now playing</h1>
    <button  class="btn btn-primary btn-lg mt-3 mb-3" type="submit">Go</button>
  </form>